/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --wght-heading: 715;
  --wght-text: 410;
  --gradient: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px, 
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3 0 2px, 
      rgb(0 0 0 / 0) 2px 4px
    ),
    linear-gradient(
      180deg,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
  --text-stroke: 1px #fff;
  --main-border: 2px solid #000;
  --main-text-color: #000;
  --hover-text-color: #fff;
  --accent-color: #000;

  --contour-color: #000;
  --animation-fill-color: red;
}